html {
	font-family: cursive;
	background-color: #92b2ca;
}

body {
	background-color: yellow;
	margin: 0px;
	width: 1000px;
	padding: 50;
	border: 5px solid black;
	text-shadow: 2px 2px 1px rgb(176, 179, 72);
}

div img {
	width: 100px;
	height: 100px;
}

body > img {
	width: 500px;
	height: 150px;
}

h1 {
	text-align: center;
}

p,
li {
	text-align: left;
	font-size: 16px;
	line-height: 2;
}
